{% extends 'base.html' %}


<section>
    {% block corps %}
    <section style="text-align: center; color: rgb(35, 39, 39);"> <h1>Bienvenue sur le blog</h1>
        <hr>
        <h2>Nous sommes une communauté une famille </h2>
        <p>Nous sommes dans l'optique que chaque doit apprendre des autres <br> Et ici si vous avez une connaissance particulière que vous souhaiter partarger créer un poste et l'autres le verons et le commenterons ... </p>
  
    </section>
    {% endblock %}
</section>
{% include 'footer.html' %}